.mycontent{
  width: 100%;
  height: 100%;
  // overflow: hidden;
}

.mytop{
  height: 100px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mytext{
  flex: 1;
  margin-left: 20px;
}
.myicon{
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  background-color: #FAFAF9;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.mycenter{
  height: 200px;
  margin-top: 10px;
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  
}
.card1{
  border-radius: 20px;
  background-color: #9ee4ed;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card2{
  border-radius: 20px;
  background-color: #FAFAF9;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card3{
  border-radius: 20px;
  background-color: #88f1d0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.mybottom{
  height: 380px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
  background-color: #FAFAF9;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}