.predicate-container{
  width: 100%;
}

.predicate-header{
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.title{
  width: 95%;
  height: 80%;
  color: #63b4b7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: #ffffff; */
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
  border-radius: 10px;
}
.title-content{
  width: 400px;
  height: 45px;
  font-size: 2rem;
}
.predicate-body{
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.image-upload-container{
  width: 60%;
  height: 90%;
  margin-right: 10px;
  background-color: #ffffff;
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image-upload{
  margin-left: 10px;
}
.image-upload .ant-upload-list-item-container{
  width: 300px !important;
  height: 300px !important;
}
.image-upload .ant-upload-select{
  width: 300px !important;
  height: 300px !important;
}
.image-result{
  width: 35%;
  height: 90%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 10px;
}
.image-result-step{
  width: 400px;
  height: 100px;
  margin: 10px auto;
}
.image-result-content{
  width: 200px;
  height: 200px;
  border: 1px solid red;
  margin: 10px auto;
}
.predicate-footer{
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.function-select{
  width: 60%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 10px;
  margin-right: 10px;
}
.function-select-button{
  width: 138px;
  height: 32px;
  margin-top: 10px;
  margin-left: 10px;
}
.echart-dom{
  width: 35%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 10px;
}